.footer-container {
  background-color: #000000;
  color: white;
  padding: 0 64px;
  padding-top: 32px;
}

.footer-copyright {
  font-size: 12px;
  margin-top: 24px;
  padding-bottom: 16px;
}

@media screen and (max-width: 572px) {
  .footer-container{
    padding: 0 12px;
  }
}

@media screen and (max-width: 900px) {
  .footer-container{
    padding: 0 12px;
  }
}
